

:root{
  --green:hsl(149, 86%, 59%);
  --pink: #e9768f;
  --black: #1d1c1c;
  --white:#fff;
  --light-color: #666
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: boder-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--white);
  box-shadow: var(--box-shadow);;
}

.header .logo{
    font-size: 2.5rem;
    font-weight:bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: var(--black);
}

.header .navbar a:hover,
.header .icons div:hover{
    color: var(--green);
}

.header .icons div{
    font-size: 2.5rem;
    margin-left:1.77rem;
    color:var(--black);
    cursor: pointer;
}

#menu-btn{
    display:none;
}

.header .login-form{
    position: absolute;
    top:110%; right: -110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 5rems;
    background:ver(--white);
    text-align:center;
}

.header .login-form.active{
    right:2rem;
    transition:.4s liner;
}














